@import "tailwindcss";

@theme {
  --font-luckiest-guy: "Luckiest Guy", sans-serif;

  --color-primary: #272035;
  --color-secondary: #c31c96;

  --text-hero-title: clamp(3.875rem, 6vw, 5.75rem);
  --text-hero-title--line-height: 1;
  --text-hero-action: clamp(1.5rem, 3vw, 2.625rem);
  --text-hero-action--line-height: 1;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--color-primary);
}
