@import "tailwindcss";

@theme {
  --font-luckiest-guy: "Luckiest Guy", sans-serif;
  --color-primary: #272035;
  --color-secondary: #c31c96;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
