---
import Link from "../components/Link.astro";
import Navbar from "../components/Navbar.astro";
import { ParallaxSection } from "../components/Parallax";
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import "../styles/global.css";
import LastNews from "../components/LastNews.astro";
import Footer from "../components/Footer.astro";
import OurNewsletter from "../components/OurNewsletter.astro";
---

<Layout>
  <main
    class="w-full h-full relative min-h-screen bg-cover bg-[url('/images/background.webp')] bg-no-repeat bg-center"
  >
    <Navbar />
    <ParallaxSection client:only="react" />
    <div
      class="font-luckiest-guy absolute w-full text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center flex flex-col items-center gap-11"
    >
      <p
        class="px-10 bg-primary/50 py-5 border-3 text-xl border-white rounded-full"
      >
        The Rave Team
      </p>
      <h1
        class="text-[92px] leading-[92px] text-shadow-[7px_10px_0_rgba(0,0,0,1)]"
      >
        FLASHY STORIES,<br /> DERANGED EXPERIENCES
      </h1>
      <Link
        external
        to="https://store.steampowered.com/app/3044510/Space_Diva/"
        class="text-black hover:shadow-[3px_3px_0_rgba(0,0,0,1)] transition duration-150 ease-in-out hover:translate-[8px] flex gap-2 shadow-[10px_10px_0_rgba(0,0,0,1)] bg-white px-8 py-7 text-4xl"
      >
        <Icon name="steam" class="size-10 inline-block" />
        WISHLIST SPACE DIVA
      </Link>
    </div>
  </main>
  <OurNewsletter />
  <LastNews />
  <Footer />
</Layout>
