---
import { ParallaxSection } from "../components/Parallax";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main
    class="w-full h-full min-h-screen bg-contain bg-[url('/images/background.webp')]"
  >
    <div class="relative min-h-[700px]">
      <ParallaxSection client:only="react" />
    </div>
  </main>
</Layout>
