---
import Navbar from "../components/Navbar.astro";
import { ParallaxSection } from "../components/Parallax";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main
    class="w-full h-full min-h-screen bg-contain bg-[url('/images/background.webp')]"
  >
      <Navbar />
      <ParallaxSection client:only="react" />
  </main>
</Layout>
