---
import Link from "./Link.astro";
import Bluesky from "./ui/Bluesky.astro";
import Youtube from "./ui/Youtube.astro";
import Tiktok from "./ui/Tiktok.astro";
import Instagram from "./ui/Instagram.astro";
---

<footer
  class="w-full bg-secondary text-white pt-[82px] pb-7 px-12 flex flex-col gap-[108px] items-end justify-center"
>
  <div class="flex gap-2 items-center justify-center">
    <div class="group relative">
      <Link external aria-label="Instagram logo icon" to="/">
        <Instagram />
      </Link>
      <span
        class="absolute -top-8 left-[50%] -translate-x-[50%]
        z-20 origin-left scale-0 border
        border-gray-300 bg-white text-sm font-bold
        shadow-md transition-all duration-300 ease-in-out
        group-hover:scale-100 text-black"
        >Instagram<span> </span></span
      >
    </div>
    <div class="group relative">
      <Link external aria-label="Tiktok logo icon" to="/">
        <Tiktok />
      </Link>
      <span
        class="absolute -top-8 left-[50%] -translate-x-[50%]
          z-20 origin-left scale-0 border
          border-gray-300 bg-white text-sm font-bold
          shadow-md transition-all duration-300 ease-in-out
          group-hover:scale-100 text-black"
        >TikTok<span> </span></span
      >
    </div>
    <div class="group relative">
      <Link external aria-label="Youtube logo icon" to="/">
        <Youtube />
      </Link>
      <span
        class="absolute -top-8 left-[50%] -translate-x-[50%]
          z-20 origin-left scale-0 border
          border-gray-300 bg-white text-sm font-bold
          shadow-md transition-all duration-300 ease-in-out
          group-hover:scale-100 text-black"
        >YouTube<span> </span></span
      >
    </div>
    <div class="group relative">
      <Link external aria-label="Bluesky logo icon" to="/">
        <Bluesky />
      </Link>
      <span
        class="absolute -top-8 left-[50%] -translate-x-[50%]
          z-20 origin-left scale-0 border
          border-gray-300 bg-white text-sm font-bold
          shadow-md transition-all duration-300 ease-in-out
          group-hover:scale-100 text-black"
        >Bluesky<span> </span></span
      >
    </div>
  </div>
  <p
    class="flex gap-2 items-center place-content-center w-fit font-bold text-sm"
  >
    Designed and Developed by <Link
      external
      to="https://discord.com/invite/comuafor"
      class="group flex gap-2 items-center place-content-center w-fit"
      ><span
        class="relative after:absolute after:bottom-0 after:left-0 after:w-full after:border-b-2 after:border-white after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-0"
      >
        Comuafor
      </span></Link
    > 💓
  </p>
</footer>
<style>
  footer {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
</style>
