---
import Link from "./Link.astro";
---

<section>
  <h2>LATEST NEWS</h2>
  <div>
    <div>
      <h3>NEW 1</h3>
      <p>
        A game development studio creating projects that primarily we would play
        ourselves first, and then aim at massive audiences. A game development
        studio creating projects that primarily we would
      </p>
      <Link external to="/"> Read more </Link>
    </div>
    <div>
      <h3>NEW 2</h3>
      <p>
        A game development studio creating projects that primarily we would play
        ourselves first, and then aim at massive audiences. A game development
        studio creating projects that primarily we would
      </p>
      <Link external to="/"> Read more </Link>
    </div>
    <div>
      <h3>NEW 3</h3>
      <p>
        A game development studio creating projects that primarily we would play
        ourselves first, and then aim at massive audiences. A game development
        studio creating projects that primarily we would
      </p>
      <Link external to="/"> Read more </Link>
    </div>
  </div>
  <Link external to="/"> VIEW ALL </Link>
</section>
