---
import Link from "./Link.astro";
---

<nav
  class="fixed flex w-full m-auto items-center justify-center top-8 left-0 z-50"
>
  <section class="flex justify-between max-w-7xl w-full px-8">
    <!-- <section
    class="border border-[#aa8be9]/50 bg-gradient-to-b from-[#aa8be9]/50 to-[#aa8be9]/10 rounded-full w-fit h-fit mt-8 backdrop-blur-md"
    > -->
    <div
      class="w-12 h-12 bg-[#aa8be9] text-white flex items-center justify-center rounded-full"
    >
      RS
    </div>
    <!-- </section> -->
    <ul
      class="flex text-2xl tracking-wider inner-text-shadow font-luckiest-guy items-center gap-8 text-white"
    >
      <li class="theme-shadow-text lg:hidden">
        <Link to="#">MENU</Link>
      </li>
      <li class="hidden theme-shadow-text lg:block">
        <Link to="#">GAMES</Link>
      </li>
      <li class="hidden theme-shadow-text lg:block">
        <Link to="#">NEWS</Link>
      </li>
      <li class="hidden theme-shadow-text lg:block">
        <Link to="#">ABOUT</Link>
      </li>
      <li class="hidden theme-shadow-text lg:block">
        <Link to="#">CONTACT</Link>
      </li>
    </ul>
  </section>
</nav>
