<div class="fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto border border-[#aa8be9]/50 bg-gradient-to-b from-[#aa8be9]/50 to-[#aa8be9]/10 rounded-full mt-8 backdrop-blur-md">
    <div class="flex justify-between items-center py-2 px-2">
      <div class="flex items-center">
        <!-- Logo here -->
         <div class="w-12 h-12 bg-[#aa8be9] text-white flex items-center justify-center rounded-full">
          RS
         </div>
        <div class="ml-4">
          <h1 class="text-2xl font-bold text-[#aa8be9]">Rave</h1>
        </div>
      </div>
      <div class="flex items-center gap-8 text-white">
        <a href="#" >Home</a>
        <a href="#" >Games</a>
        <a href="#" >News</a>
        <a href="#" >About</a>
        <a href="#" >Contact</a>
      </div>
      <button class="bg-[#aa8be9] text-white px-4 py-2 rounded-full">Subscribe</button>
    </div>
  </div>
</div>