<nav
  class="fixed flex w-full m-auto items-center justify-center top-8 left-0 z-50"
>
  <section class="flex justify-between max-w-7xl w-full">
    <!-- <section
    class="border border-[#aa8be9]/50 bg-gradient-to-b from-[#aa8be9]/50 to-[#aa8be9]/10 rounded-full w-fit h-fit mt-8 backdrop-blur-md"
    > -->
    <div
      class="w-12 h-12 bg-[#aa8be9] text-white flex items-center justify-center rounded-full"
    >
      RS
    </div>
    <!-- </section> -->
    <div
      class="flex text-4xl inner-text-shadow [&>a]:text-shadow-[6px_6px_0_rgba(0,0,0,1)] font-luckiest-guy items-center gap-8 text-white [&>a]:hover:text-shadow-[3px_3px_0_rgba(0,0,0,1)] [&>a]:transition [&>a]:duration-150 [&>a]:ease-in-out [&>a]:hover:translate-[6px]"
    >
      <a href="#">GAMES</a>
      <a href="#">NEWS</a>
      <a href="#">ABOUT</a>
      <a href="#">CONTACT</a>
    </div>
  </section>
</nav>
