---

---

<section>
  <h2>JOIN OUR NEWSLETTER</h2>
  <form action="">
    <input type="email" name="" id="" />
    <button>SUSCRIBE</button>
  </form>
  <div>
    <button> PRESS KIT </button>
  </div>
</section>
